<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lee.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".patterns.SynProAndConsu" />

        <activity android:name=".touchevent.OntouchActivity" />

        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.MyService"
            android:process=":remote">

            <intent-filter>
                <action android:name="com.lee.myapplication.service.IMyAidlInterface" />
            </intent-filter>

        </service>

        <activity android:name=".stopthread.StopThreadActivity" />

        <activity
            android:name=".launchmode.LaunchMode1Activity"
            android:launchMode="standard" />

        <activity
            android:name=".launchmode.LaunchMode2Activity"
            android:launchMode="singleInstance" />

        <activity android:name=".spiner.SpinerActivity"/>

        <activity android:name=".storage.JsonStorageActivity"/>

        <activity android:name=".customview.CustomViewActivity"
            android:label="CustomViewActivity"/>

        <activity
            android:name=".groupcount.GroupCountActivity"
            android:label="CustomViewActivity" />

    </application>

</manifest>